.home-title {
    background-image: linear-gradient(330deg, #22d0b4, #0a96d8);
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.card-text {
    height: 7rem;
    overflow: scroll;
}

#profile {
    border-radius: 50%;
}