.home-title {
    background-image: linear-gradient(330deg, #22d0b4, #0a96d8);
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

/*
.card-text {
    height: 7rem;
    overflow: scroll;
}

.list-group {
    height: 11rem;
    overflow: scroll;
}
*/

.row {
    padding-bottom: 5rem;
}

#home {
    height: fit-content;
}

.card-body {
    height: 12rem;
    overflow: scroll;
}

.card-header {
    font-weight: bold;
    padding-bottom: 0;
}

#profile {
    border-radius: 50%;
}